



*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}

body{
  background-image: url("/image/image.png");
  background-position: cover ;
  background-repeat: no-repeat;
  background-size: 100%;
}

section{
  /* display: flex;
  align-items: center;
  justify-content: center; */
  min-height: 100vh;
  display: grid;
  place-items: center;
}

section .container {
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 120px;
  text-align: center;
  max-width: 600px;
  box-shadow: 0px 5px 15px rgb(12, 12, 12);
}

h1{
  margin-bottom: 35px;
}

.btn{
  margin-top: 25px;
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(114, 181, 243);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn:hover{
  background-color: transparent;
  color: black;
  border: 1px solid rgb(114, 181, 243);
  letter-spacing: .1rem;
}

